/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
  /* For fixed nav */
  padding-top: 70px;
  /* Margin bottom by footer height */
  /* Changed to padding to work with height: 100% */
  padding-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

body > .container {
  padding: 0 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.glyphicon-large {
  font-size: 600%;
}

/* Horizontal rules */
hr {
  margin: 30px 0;
}

/* Centered Navbar */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default {
  font-size: 120%;
}

/* Cover page */
.padding {
  padding-left: 10px;
  padding-right: 10px;
}

/* Registry page */
.registry-img {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 0px;
	max-width: 450px;
	width: 100%;
  border-bottom: 2px solid transparent;
}

.registry-img:hover {
  border-bottom: 2px solid #fff;
  border-bottom-color: rgba(255,255,255,.25);
}

/* RSVP page */
.form-lg .input-lg {
  font-size: 200%;
}

.form-lg .btn-lg {
  font-size: 200%;
}

.form-lg .form-group {
  margin-bottom: 50px;
}

.form-lg .btn-checkbox .glyphicon {
  display: none;
}

.form-lg .btn-checkbox:hover .glyphicon,
.form-lg .btn-checkbox:active .glyphicon,
.form-lg .btn-checkbox:focus .glyphicon,
.form-lg .btn-checkbox.active.focus .glyphicon, 
.form-lg .btn-checkbox.active:focus .glyphicon, 
.form-lg .btn-checkbox.active:hover .glyphicon, 
.form-lg .btn-checkbox:active.focus .glyphicon, 
.form-lg .btn-checkbox:active:focus .glyphicon, 
.form-lg .btn-checkbox:active:hover .glyphicon  {
  display: inline-block;
}

@media (min-width: 768px) {
  .form-lg .btn-checkbox .glyphicon {
    display: inline-block;
    visibility: hidden;
  }
  
  .form-lg .btn-checkbox:hover .glyphicon,
  .form-lg .btn-checkbox:active .glyphicon,
  .form-lg .btn-checkbox:focus .glyphicon,
  .form-lg .btn-checkbox.active.focus .glyphicon, 
  .form-lg .btn-checkbox.active:focus .glyphicon, 
  .form-lg .btn-checkbox.active:hover .glyphicon, 
  .form-lg .btn-checkbox:active.focus .glyphicon, 
  .form-lg .btn-checkbox:active:focus .glyphicon, 
  .form-lg .btn-checkbox:active:hover .glyphicon  {
    visibility: visible;
  }
}

/* Info page */
.hr-info {
  margin: 20px 0; 
}

.info-container .glyphicon-large {
  font-size: 400%;
}

.info-container > .row > div:first-child {
  margin-bottom: 20px;
}

.info {
  font-size: 140%;
}

@media (min-width: 768px) {
  .info-container {
    margin-top: 50px;
  }
  
  .info-container .glyphicon-large {
    font-size: 500%;
  }
  
  .info {
    font-size: 200%;
  }
  
  .hr-info {
    margin: 30px 0; 
  }
}

@media (min-width: 992px) {
  .info-container {
    margin-top: 70px;
  }
  
  .info-container .row {
    display: flex;
    align-items: center;
  }
  
  .info-container .glyphicon-large {
    font-size: 600%;
  }
  
  .info {
    font-size: 200%;
  }
}

@media (min-width: 1200px) {
  .info-container {
    margin-top: 120px;
  }
  
  .hr-info {
    margin: 50px 0;
  }
}

/* Gallery page */

.gallery-container { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.gallery-container div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
.gallery-container div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  .gallery-container div { margin: 0; }
  .gallery-container { padding: 0; }
}

.gallery-thumbnail {
  cursor: pointer;
}

.gallery-enlarge-desc {
  margin-top: 20px;
}

/* full screen modal ovveride styles */
.modal-dialog {
  width: 95%;
  /*height: 100%;*/
}

.modal-content {
  height: auto;
  min-height: 100%;  
}