/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
  /* For fixed nav */
  padding-top: 70px;
  /* Margin bottom by footer height */
  /* Changed to padding to work with height: 100% */
  padding-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.glyphicon-large {
  font-size: 600%;
}

/* Horizontal rules */
hr {
  margin: 30px 0;
}

/* Centered Navbar */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* Cover page */
.padding {
  padding-left: 10px;
  padding-right: 10px;
}

/* Registry page */
.registry-img {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 0px;
	max-width: 450px;
	width: 100%;
  border-bottom: 2px solid transparent;
}

.registry-img:hover {
  border-bottom: 2px solid #fff;
  border-bottom-color: rgba(255,255,255,.25);
}

/* RSVP page */
.form-lg .input-lg {
  font-size: 200%;
}

.form-lg .btn-lg {
  font-size: 200%;
}

.form-lg .form-group {
  margin-bottom: 50px;
}

/* Info page */
.hr-info {
  margin: 20px 0; 
}

.info-container .glyphicon-large {
  font-size: 400%;
}

.info-container > .row > div:first-child {
  margin-bottom: 20px;
}

.info {
  font-size: 120%;
}

@media (min-width: 768px) {
  .info-container .glyphicon-large {
    font-size: 500%;
  }
  
  .info {
    font-size: 150%;
  }
  
  .hr-info {
    margin: 30px 0; 
  }
}

@media (min-width: 992px) {
  .info-container .row {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  
}