.footer {
  background-color: #f5f5f5;
}

/* Info page */
.info-panel > .row {
  padding: 4%;
}
.icon-col {
  font-size: 600%;
}
.info-col {
  font-size: 200%;
}

@media (min-width: 768px) { 
}

@media (min-width: 992px) {
  .time-row,
  .date-row,
  .place-row {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .info-panel > .row {
    padding: 4%;
  }
}