body,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
}

/* Footer */
.footer {
  /*background-color: #f5f5f5;*/
}

.navbar-default .navbar-nav > li > a
{
  padding: 15px 5px;
  margin: 0 10px;
}