/*
Colors
=======
Ice blue: #6ADBC9
Light blue: #009DBA
Light blue 2: #127DA1
Purple: #5E2874
Navy: #28264B

Navy Lighter 5%: #353358

Navy lighter 10%: #424065
Navy lighter 20%: #5B597E
Navy lighter 30%: #757398
Navy lighter 40%: #8E8CB1
Navy lighter 50%: #A7A5CA
Navy lighter 60%: #C1BFE4
Navy lighter 70%: #DBD9FE
Navy lighter 80%: #F4F2FF
*/

body {
  color: #fff;
  background-color: #28264B;
}

.btn-default {
  color: #A7A5CA;
  background-color: transparent;
  border-color: transparent;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default:active.focus, 
.btn-default:active:focus, 
.btn-default:active:hover {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  /*border: 1px solid #fff;*/
}

.footer {
  background-color: transparent;
}

.text-muted {
  color: #5B597E;
}

hr {
  border-color: #757398;
}

/* Navbar styles */
.navbar-default {
  background-color: #28264B;
  border: none;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a {
  color: #DBD9FE;
  /*background-color: transparent;*/
  background-color: #28264B;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  /*background-color: transparent;*/
  background-color: #28264B;
}

@media (min-width: 768px) {
  .navbar-default {
    /*background-color: transparent;*/
    background-color: #28264B;
  }
  
  .navbar-default .navbar-nav > .active > a {
    border-bottom: 2px solid #DBD9FE;
  }
  
  .navbar-default .navbar-nav > .active > a:hover {
    border-color: #fff;
  }
}

.navbar-default .navbar-collapse {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-toggle.collapsed > .icon-bar {
  background-color: #A7A5CA;
}

.navbar-default .navbar-toggle > .icon-bar {
  background-color: #fff;
}

/* RSVP form styles */
.form-control {
  text-align: center;
  color: #fff;
  background-color: transparent;
  /*border-color: #A7A5CA;*/
  border-color: transparent;
  box-shadow: none;
}

.form-control:focus {
  /*border-color: #fff;*/
  border-color: transparent;
  box-shadow: none;
}

/* Input placeholder color */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #A7A5CA !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #A7A5CA !important;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #A7A5CA !important;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #A7A5CA !important;
}

/*.divider {
  border-top: 2px solid #757398;
  margin: 0 50px;
}

@media (min-width: 768px) {
  .divider {
    border-top: none;
  }
}*/

/* Modal styles */
.modal .modal-dialog .modal-content {
  /*background-color: #28264B;*/
  background-color: #141326;
}

.close {
  opacity: 1;
  color: #A7A5CA;
  text-shadow: none;
}

.close:hover {
  opacity: 1;
  color: #fff;
}

.modal-header,
.modal-footer {
  border: 0px;
}

.modal-footer p {
  color: #A7A5CA;
}

/* ---- */

.ice-blue {
  color: #6ADBC9;
}

.light-blue {
  color: #009DBA;
}

.mid-blue {
  color: #127DA1;
}

.purple {
  color: #5E2874;
}