---
layout: default
title: Gallery
---
<div class="row">
  <div class="col-md-12">
    
    <div class="gallery-container">
      {% for image in site.static_files %}
        {% if image.path contains 'images/gallery' %}
          <div class="gallery">
            <a class="gallery-thumbnail" data-src="{{ site.baseurl }}{{ image.path }}">
              <img class="img-responsive" src="{{ site.baseurl }}{{ image.path }}" alt="image">
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    
  </div>
</div>
{% include gallery-modal.html %}